.app-container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.header-container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 16px 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-container {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.footer-container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 0 16px 8px 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.main-button-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
