.container {
    margin: 0;
    padding: 0;
    width: 25vmin;
    aspect-ratio: 1;
}

.container img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #111835;
    background-color: white;
}

@keyframes animacion-relleno {
    from {
        background-position: center;
    }
    to {
        background-position: center 20px; /* Ajusta el movimiento a tu gusto */
    }
}
