.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #15192b; /* Fondo apagado */
    transition: 0.4s;
    border-radius: 34px;
    border: 1px solid rgba(116, 169, 206, 0.3);
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: #9ca3af;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: rgba(116, 169, 206, 0.2);
    border-color: #74a9ce;
}

input:checked + .slider:before {
    transform: translateX(20px);
    background-color: #74a9ce; /* Tu color celeste */
    box-shadow: 0 0 8px #74a9ce;
}
