.buttonContainer {
    width: 60vmin;
    display: flex;
    aspect-ratio: 1;
    border: 2.5px solid #90d5ff;
    border-radius: 50%;
    /* justify-self: center; */
    justify-content: center;
    position: relative;
    overflow: hidden;
    top: 20%;
}

.raindrop {
    width: 24vmin;
    display: flex;
    aspect-ratio: 1;
    position: relative;
    z-index: 3;
}

.raindrop img {
    width: 100%;
    height: auto;
    position: relative;
    top: -20%;
}

.startTextContainer {
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    align-self: center;
}

.onGoingTextContainer {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
    z-index: 5;
}

p {
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
}

.startText {
    font-size: clamp(42px, 5vmin, 18px);
}

.onGoingText {
    font-size: clamp(24px, 5vmin, 18px);
}

.inactive {
    display: none;
}

.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
