.card {
    width: 100%;
    height: 196px;
    /* background-size: cover;
    background-position: center; */
    /* background: linear-gradient(135deg, #f0e6af, #9ee4f5); */
    /* background-image: url("../../../public/nigth-background.png"); */

    border-radius: 28px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0 16px;
    box-sizing: border-box;
}

.day {
    background: linear-gradient(0deg, #52a1af, #eec26f);
    color: #3a3a3a;
}

.night {
    /* background-image: url("/nigth-background.png"); */
    background: linear-gradient(135deg, #717ff7, #01536e);
    color: aliceblue;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    min-width: 60px;
}

.temp {
    font-size: 20px;
    font-weight: 600;
    /* color: #3a3a3a; */
}

.icon {
    width: 32px;
    height: 32px;
    opacity: 0.4;
}

.time {
    font-size: 18px;
    font-weight: 600;
    /* color: #3a3a3a; */
}

.period {
    font-size: 12px;
    /* color: #888888; */
}
